In [1]:
import pandas as pd
import os
import sys

In [2]:
ano_susano = '2021'
data_files_path = os.path.join('.','Dados', ano_susano)
csv_files_path = os.path.join(data_files_path, 'csv_files')
print(f'{data_files_path=}, {csv_files_path=}')
tmp_path = os.path.join('/tmp')
pkl_source = 'LOCAL'

all_pkls = []

data_files_path='.\\Dados\\2021', csv_files_path='.\\Dados\\2021\\csv_files'

In [3]:
os.mkdir(csv_files_path)

In [15]:
def read_pkl(pkl_file):
    local_path = os.path.join(data_files_path, pkl_file)
    print(f'read_pkl: {local_path=}')

    df = pd.read_pickle(local_path)

    all_pkls.append(pkl_file)
    return df

In [7]:
pkl_files = [f for f in os.listdir(data_files_path) if f.endswith('.pkl')]

In [8]:
pkl_files

['df_A.pkl',
 'df_alvo_mes_limiar.pkl',
 'df_capitais.pkl',
 'df_E.pkl',
 'df_EMA.pkl',
 'df_EMA_mes.pkl',
 'df_grupos.pkl',
 'df_M.pkl',
 'df_MA.pkl',
 'df_MA_mes.pkl',
 'df_pop_UF.pkl',
 'df_subgrupos.pkl',
 'df_UF_A_mes.pkl']

In [19]:
for pkl_file in pkl_files:
    csv_zip_file = pkl_file.replace('.pkl', '.zip')
    df = read_pkl(pkl_file)
    df.to_csv(os.path.join(csv_files_path, csv_zip_file), index=False)

read_pkl: local_path='.\\Dados\\2021\\df_A.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_alvo_mes_limiar.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_capitais.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_E.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_EMA.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_EMA_mes.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_grupos.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_M.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_MA.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_MA_mes.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_pop_UF.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_subgrupos.pkl'
read_pkl: local_path='.\\Dados\\2021\\df_UF_A_mes.pkl'

In [ ]:
dtypes_EMA = {'CNES':str,
             'IBGE_Res':str,
             'IBGE_Estab': str,
             'IBGE_CAPITAL': str,
             'CO_GRUPO': str,
             'CO_GRUPO_SUBGRUPO': str}

In [ ]:
# Teste leitura
zip_file = 'df_subgrupos.zip'
df = pd.read_csv(os.path.join(csv_files_path, zip_file), dtype=dtypes_EMA)

In [ ]:
df

In [17]:
df = read_pkl('df_MA_mes.pkl')

read_pkl: local_path='.\\Dados\\2021\\df_MA_mes.pkl'

In [18]:
df

        IBGE_Res  Cod_Alvo  Mês  Qtd_MA_mês  Valor_MA_mês  Excesso_MA_mês
250414    160030  040505-A    5        5224    1993529.03    1.440427e+06
249008    160027  040505-A    8        2415    1463821.75    1.366994e+06
249009    160027  040505-A    9        2612    1147157.88    1.067755e+06
252099    160050  040505-A   11        2306    1120110.12    1.053568e+06
2696201   350010  030317-H    1         558    1098406.63    1.021813e+06
...          ...       ...  ...         ...           ...             ...
1651596   292530  040505-A    8          44      14886.52    0.000000e+00
1651595   292530  040505-A    7          52      19410.45    0.000000e+00
1651594   292530  040505-A    6          53      21358.20    0.000000e+00
1651593   292530  040505-A    5          47      18244.75    0.000000e+00
4877056   530010  080301-A   12         139        826.65    0.000000e+00

[4877057 rows x 6 columns]

In [14]:
cwd

'g:\\Meu Drive\\Colab_Notebooks\\dash\\SUSano_Dash\\SUSanoGCP-V2'